header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("media/fernando-lavin-rN2k98llNBg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -10cm;
  height: 500px;
}
#head_title {
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(0,150, 150, 0.3);
}
.miniature {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.galerie {  
  display: flex;
  justify-content: space-around;  
}

h2{
    font-size: xx-large;
}
#mondiv{
    color: blue;
}
.toto{
    background-color: red !important;
}
.tata{

}
#un{
    background-color: beige; 
    border-style: solid;
    border-color: red;
    margin: 100px;
    padding: 0px 30px 10px 50px;
    display: flex;
    flex-direction: column;
    flex
}